th,td {
    min-width: 4em;
    min-height: 1em;
    border: solid 1px;              /* 枠線指定 */
}
.non-line{
    border:none;
} 
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
    text-align: center;
}
.editing_cell{
    background-color: grey;
}
button{
  background-color: gray;
}
